flows/get_req_ifcjson_github.json
[{"id":"4299ead3.a9e18c","type":"tab","label":"get request- ifc json from github","disabled":false,"info":""},{"id":"ec420f0c.b64f6","type":"inject","z":"4299ead3.a9e18c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":80,"wires":[["1ea9b93c.0f3f07"]]},{"id":"1ea9b93c.0f3f07","type":"http request","z":"4299ead3.a9e18c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/ifcnodered/node-red/master/lib/viewerData/ifcJsonData.json","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":80,"wires":[["35411f55.c6cc4"]]},{"id":"35411f55.c6cc4","type":"json","z":"4299ead3.a9e18c","name":"","property":"payload","action":"","pretty":false,"x":730,"y":80,"wires":[["59f6b883.10fd98"]]},{"id":"59f6b883.10fd98","type":"debug","z":"4299ead3.a9e18c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":80,"wires":[]}]