flows/ld_transform.json
[{"id":"a8b6aa45.c7e3d8","type":"tab","label":"ld transform","disabled":false,"info":""},{"id":"c111a107.3ba61","type":"http request","z":"a8b6aa45.c7e3d8","name":"http: u3x","method":"POST","ret":"obj","paytoqs":"body","url":"http://127.0.0.1:6789/u3x/","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":340,"wires":[["bbba75fb.e9e378"]]},{"id":"bbba75fb.e9e378","type":"debug","z":"a8b6aa45.c7e3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"bcd0538d.3aa3c","type":"change","z":"a8b6aa45.c7e3d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ldfilecontent","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["c111a107.3ba61"]]},{"id":"1d22e035.7468d","type":"inject","z":"a8b6aa45.c7e3d8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":120,"wires":[["23c05105.41a42e","71b8ef80.5178a"]]},{"id":"23c05105.41a42e","type":"file in","z":"a8b6aa45.c7e3d8","name":"read json file","filename":"/Users/nirviksaha/PostDoc/fserver/data/ld/wall_door.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":100,"wires":[["ed9941a7.0a469"]]},{"id":"ed9941a7.0a469","type":"change","z":"a8b6aa45.c7e3d8","name":"","rules":[{"t":"set","p":"ldfilecontent[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":100,"wires":[[]]},{"id":"71b8ef80.5178a","type":"file in","z":"a8b6aa45.c7e3d8","name":"read framing","filename":"/Users/nirviksaha/PostDoc/fserver/data/ld/wall_door_framing.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":140,"wires":[["26cb7f76.ae73c"]]},{"id":"26cb7f76.ae73c","type":"change","z":"a8b6aa45.c7e3d8","name":"","rules":[{"t":"set","p":"ldfilecontent[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":140,"wires":[[]]},{"id":"874a3da0.ebc1f","type":"inject","z":"a8b6aa45.c7e3d8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":340,"wires":[["bcd0538d.3aa3c"]]}]