flows/spfconv.json
[{"id":"f6269c52.f1d15","type":"tab","label":"spf-json","disabled":false,"info":""},{"id":"ed774ab3.b26978","type":"http request","z":"f6269c52.f1d15","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:6789/","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":160,"wires":[["2e56a522.3efbda"]]},{"id":"539719b1.21b088","type":"inject","z":"f6269c52.f1d15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["ed774ab3.b26978"]]},{"id":"2e56a522.3efbda","type":"debug","z":"f6269c52.f1d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"c4b9e59b.36a3f8","type":"file in","z":"f6269c52.f1d15","name":"read file","filename":"/Users/nirviksaha/PostDoc/deployed_data/ifcFiles/wall_door.ifc","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":320,"wires":[["b2fc6fcb.b2071"]]},{"id":"b2fc6fcb.b2071","type":"http request","z":"f6269c52.f1d15","name":"http request: u1x","method":"POST","ret":"obj","paytoqs":"body","url":"http://127.0.0.1:6789/u1x/","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":320,"wires":[["d3165a2b.7a9858"]]},{"id":"d3165a2b.7a9858","type":"debug","z":"f6269c52.f1d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"b6a03a5f.e5c808","type":"inject","z":"f6269c52.f1d15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/Users/nirviksaha/PostDoc/deployed_data/ifcFiles/wall_door.ifc","payloadType":"str","x":150,"y":320,"wires":[["c4b9e59b.36a3f8"]]}]