flows/viewer.json
[{"id":"759c981c.980fc8","type":"tab","label":"viewer3d","disabled":false,"info":""},{"id":"3bcbb1cd.e0095e","type":"change","z":"759c981c.980fc8","name":"Find OBJs","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype=\"shapeRepresentation\" and\trepresentationType=\"OBJ\"\t]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"OBJs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":380,"wires":[["ff74eea8.0cda1"]]},{"id":"ff74eea8.0cda1","type":"change","z":"759c981c.980fc8","name":"{globalId, OBJ}","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t   \"data\": $.{\t       \"globalId\": globalId,\t       \"OBJ\": items[0]\t}\t}\t\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":380,"wires":[["76cf7217.e34dcc"]]},{"id":"8216ac8d.d10c6","type":"change","z":"759c981c.980fc8","name":"All but shapeReps","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype !=\"shapeRepresentation\"\t]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"buildingElements","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":320,"wires":[["76cf7217.e34dcc"]]},{"id":"76cf7217.e34dcc","type":"function","z":"759c981c.980fc8","name":"Attach OBJs","func":"var buildingElements = context.get(\"buildingElements\") || 0; //get from context or default to 0\nvar OBJs = context.get(\"OBJs\") || 0; //get from context or default to 0\nvar objdict = {};\n    var objdata = null;\n    var aresult;\n\n\nattachOBS = function() {\n    if (OBJs == 0 || buildingElements == 0) return;\n            //console.log(OBJs.data);   \n    objdict = {};\n        var i;\n    \n        for ( i = 0 ; i < OBJs.data.length; i++ ) {\n            var apair = OBJs.data[i];\n            //console.log(apair);\n         objdict[apair.globalId] = apair.OBJ;\n        }\n     \n    for ( i = 0 ; i < buildingElements.length; i++ ) {\n        if(buildingElements[i].representations) {\n            var aref = buildingElements[i].representations[0].ref;\n            //console.log(aref);\n            \n             aresult = objdict[aref];\n            //console.log(aresult);\n\n         \n            buildingElements[i].OBJ = aresult;\n            //console.log(buildingElements[i].OBJ);\n        }\n    }\n}\n\nswitch (msg.topic){\n    case \"buildingElements\":\n        console.log(\"buildingElements\");\n        buildingElements = msg.payload; //payload NOT paydoad  :)\n        context.set(\"buildingElements\", buildingElements); //store in context for next time \n        attachOBS();\n        break;\n    case \"OBJs\":\n        console.log(\"OBJs\");\n        OBJs = msg.payload; //payload NOT paydoad  :)\n        context.set(\"OBJs\", OBJs); //store in context for next time \n        attachOBS();\n        break;\n}\n\n\n\nmsg.topic = \"go\";\nmsg.payload = buildingElements;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":320,"wires":[["c7a1d7d3.aa1928"]]},{"id":"58d66f58.c6c0f","type":"websocket in","z":"759c981c.980fc8","name":"websocket: receive","server":"6031aed6.0c755","client":"","x":1370,"y":380,"wires":[["9b258cab.f0626","c7a1d7d3.aa1928"]]},{"id":"c7a1d7d3.aa1928","type":"websocket out","z":"759c981c.980fc8","name":"websocket: send","server":"9ccee2bd.8fa7a","client":"","x":1630,"y":320,"wires":[]},{"id":"57bcdb92.3e9c44","type":"http in","z":"759c981c.980fc8","name":"http end-point /y","url":"/y","method":"get","upload":false,"swaggerDoc":"","x":120,"y":700,"wires":[["804d40d9.0fdd2"]]},{"id":"bbb9f857.8dbe18","type":"http response","z":"759c981c.980fc8","name":"http response","statusCode":"","headers":{},"x":420,"y":700,"wires":[]},{"id":"804d40d9.0fdd2","type":"template","z":"759c981c.980fc8","name":"y","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>iframe</title>\n\n\t\t<meta charset=\"utf-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\t</head>\n\t<body>\n\t\t<iframe src=\"/x\" width=\"80%\" height=\"50%\"></iframe>\n\t</body>\n</html>\n","output":"str","x":270,"y":700,"wires":[["bbb9f857.8dbe18"]]},{"id":"b1d0f114.96d79","type":"http in","z":"759c981c.980fc8","name":"http end-point /x","url":"/x","method":"get","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["2def35e0.efffea"]]},{"id":"c10dfde1.5f9b9","type":"http response","z":"759c981c.980fc8","name":"http response","statusCode":"","headers":{},"x":420,"y":40,"wires":[]},{"id":"c846d1e7.a97ac","type":"websocket in","z":"759c981c.980fc8","name":"websocket: receive","server":"ccfcd4a6.36a9c8","client":"","x":430,"y":200,"wires":[["8824083b.89f388"]]},{"id":"8824083b.89f388","type":"websocket out","z":"759c981c.980fc8","name":"websocket: send","server":"c352f9f4.c2e3d8","client":"","x":750,"y":240,"wires":[]},{"id":"46c4200e.06ef6","type":"inject","z":"759c981c.980fc8","name":"start: inject display properties","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[{\"type\":\"Door\",\"color\":\"0xfa9301\",\"opacity\":0.5},{\"type\":\"Slab\",\"color\":\"0xf9a8c3\",\"opacity\":0.5},{\"type\":\"WallStandardCase\",\"color\":\"0x000eff\",\"opacity\":0.15},{\"type\":\"Window\",\"color\":\"0xf100e4\",\"opacity\":0.5},{\"type\":\"Space\",\"color\":\"0x1232dd\",\"opacity\":0.15},{\"type\":\"Footing\",\"color\":\"0x000000\",\"opacity\":0.5}]}","payloadType":"json","x":180,"y":240,"wires":[["8824083b.89f388","7c5aa468.0976fc"]]},{"id":"9b258cab.f0626","type":"debug","z":"759c981c.980fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1650,"y":380,"wires":[]},{"id":"2def35e0.efffea","type":"template","z":"759c981c.980fc8","name":"x","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Test</title>\n\t\t<meta charset=\"utf-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js\"></script>\n\t\t<script src=\"https://threejs.org/examples/js/controls/OrbitControls.js\"></script>\n\t\t<script>\n\t\t\tvar socket1 = new WebSocket('ws://localhost:1880/ws/receiveMessage');\n\t\t\tvar socket2 = new WebSocket('ws://localhost:1880/ws/sendMessage');\n\t\t\tsocket1.onopen = () => {\n\t\t\t\tsocket1Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected',\n\t\t\t\t};\n\t\t\t\tsocket1.send(JSON.stringify(message));\n\t\t\t};\n\t\t\tsocket2.onopen = () => {\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected',\n\t\t\t\t};\n\t\t\t\tsocket1.send(JSON.stringify(message));\n\t\t\t};\n\t\t\tsocket2.onclose = () => {\n\t\t\t\tconsole.log('Connection closed');\n\t\t\t};\n\t\t\tsocket2.onerror = (error) => {\n\t\t\t\tconsole.log('Error detected: ' + JSON.stringify(error));\n\t\t\t};\n\t\t\tsocket2.onmessage = (e) => {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\tprocessData(responseObject);\n\t\t\t};\n\t\t\tvar socket3 = new WebSocket('ws://localhost:1880/ws/receiveMessage2');\n\t\t\tvar socket4 = new WebSocket('ws://localhost:1880/ws/sendMessage2');\n\t\t\tsocket3.onopen = () => {\n\t\t\t\tsocket3Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected to 2- receive',\n\t\t\t\t};\n\t\t\t\tsocket3.send(JSON.stringify(message));\n\t\t\t};\n\t\t\tsocket4.onopen = () => {\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected 2 - send',\n\t\t\t\t};\n\t\t\t\tsocket4.send(JSON.stringify(message));\n\t\t\t};\n\t\t\tsocket4.onclose = () => {\n\t\t\t\tconsole.log('Connection closed 2 - send');\n\t\t\t};\n\t\t\tsocket4.onerror = (error) => {\n\t\t\t\tconsole.log('Error detected -2 send: ' + JSON.stringify(error));\n\t\t\t};\n\t\t\tsocket4.onmessage = (e) => {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\tif (responseObject.data) processData2(responseObject.data);\n\t\t\t};\n\t\t\tvar socket5 = new WebSocket('ws://localhost:1880/ws/receiveMessage3');\n\t\t\tvar socket6 = new WebSocket('ws://localhost:1880/ws/sendMessage3');\n\t\t\tsocket5.onopen = () => {\n\t\t\t\tsocket5Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected to 5- receive',\n\t\t\t\t};\n\t\t\t\tsocket5.send(JSON.stringify(message));\n\t\t\t};\n\t\t\tsocket6.onmessage = (e) => {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\ttry {\n\t\t\t\t\tif (responseObject.data) {\n\t\t\t\t\t\tB = [];\n\t\t\t\t\t\tresponseObject.data.forEach((e) => {\n\t\t\t\t\t\t\tB.push(e);\n\t\t\t\t\t\t});\n\t\t\t\t\t\tupdateObjects();\n\t\t\t\t\t}\n\t\t\t\t} catch (err) {\n\t\t\t\t\tconsole.error(err);\n\t\t\t\t}\n\t\t\t};\n\t\t</script>\n\t\t<style>\n\t\t\t#dashboard {\n\t\t\t\tposition: fixed;\n\t\t\t\tleft: 10px;\n\t\t\t\ttop: 10px;\n\t\t\t\tcolor: black;\n\t\t\t}\n\t\t\t#table-ui td {\n\t\t\t\tborder: 1px solid black;\n\t\t\t}\n\t\t\tth {\n\t\t\t\tbackground-color: cadetblue;\n\t\t\t}\n\t\t\ttd {\n\t\t\t\tpadding: 0.5rem 1rem;\n\t\t\t\tbackground-color: cornsilk;\n\t\t\t\topacity: 0.5;\n\t\t\t}\n\t\t</style>\n\t</head>\n\n\t<body>\n\t\t<div id=\"dashboard\">\n\t\t\t<p>Property of Selected Element</p>\n\t\t\t<table id=\"table-ui\"></table>\n\t\t</div>\n\t\t<div id=\"div3d\"></div>\n\t\t<script>\n\t\t\tconst updateObjects = () => {\n\t\t\t\tconsole.log(\n\t\t\t\t\t'update objects',\n\t\t\t\t\tB.forEach((e) => console.log(B.globalId))\n\t\t\t\t);\n\t\t\t\tB.forEach((e) => {\n\t\t\t\t\tb = e.globalId.toString();\n\t\t\t\t\tfor (let i = 0; i < ObjArr.length; i++) {\n\t\t\t\t\t\tif (ObjArr[i].globalId.toString() === b) {\n\t\t\t\t\t\t\tif (e.color) ObjArr[i].color = parseInt(e.color, 16);\n\t\t\t\t\t\t\tif (e.opacity) ObjArr[i].opacity = e.opacity;\n\t\t\t\t\t\t\tif (e.hidden) ObjArr[i].hidden = e.hidden;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t\tObjArr.forEach((e) => {\n\t\t\t\t\tif (e.hidden === true) {\n\t\t\t\t\t\te.mesh.geometry.dispose();\n\t\t\t\t\t\te.mesh.material.dispose();\n\t\t\t\t\t\tscene3d.remove(e.mesh);\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t};\n\t\t\tconst processData2 = (x) => {\n\t\t\t\tcolorInpObj = [...x];\n\t\t\t};\n\t\t\tconst processData = (objDataArrInp) => {\n\t\t\t\tmeshArr.forEach((e) => {\n\t\t\t\t\te.geometry.dispose();\n\t\t\t\t\te.material.dispose();\n\t\t\t\t\tscene3d.remove(e);\n\t\t\t\t});\n\t\t\t\tmeshArr = [];\n\t\t\t\tObjArr.forEach((obj) => {\n\t\t\t\t\tobj.mesh.geometry.dispose();\n\t\t\t\t\tobj.mesh.material.dispose();\n\t\t\t\t\tscene3d.remove(obj.mesh);\n\t\t\t\t});\n\t\t\t\tObjArr = [];\n\t\t\t\tif (!objDataArrInp) return;\n\t\t\t\tobjDataArrInp.forEach((e) => {\n\t\t\t\t\tif (!e.OBJ) return;\n\t\t\t\t\tlet verts = [],\n\t\t\t\t\t\tfaces = [];\n\t\t\t\t\te.OBJ.split('\\n').forEach((e) => {\n\t\t\t\t\t\tif (e.split(' ')[0] === 'v')\n\t\t\t\t\t\t\tverts.push({\n\t\t\t\t\t\t\t\tx: parseFloat(e.split(' ')[1]),\n\t\t\t\t\t\t\t\ty: parseFloat(e.split(' ')[2]),\n\t\t\t\t\t\t\t\tz: parseFloat(e.split(' ')[3]),\n\t\t\t\t\t\t\t});\n\t\t\t\t\t\telse if (e.split(' ')[0] === 'f')\n\t\t\t\t\t\t\tfaces.push({\n\t\t\t\t\t\t\t\ta: parseInt(e.split(' ')[1]),\n\t\t\t\t\t\t\t\tb: parseInt(e.split(' ')[2]),\n\t\t\t\t\t\t\t\tc: parseInt(e.split(' ')[3]),\n\t\t\t\t\t\t\t});\n\t\t\t\t\t});\n\t\t\t\t\tfor (let j = 0; j < colorInpObj.length; j++) {\n\t\t\t\t\t\tif (\n\t\t\t\t\t\t\te.type.toString().toLowerCase() ===\n\t\t\t\t\t\t\tcolorInpObj[j].type.toString().toLowerCase()\n\t\t\t\t\t\t) {\n\t\t\t\t\t\t\te.color = parseInt(colorInpObj[j].color, 16);\n\t\t\t\t\t\t\te.opacity = colorInpObj[j].opacity;\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t\tlet material = new THREE.MeshPhongMaterial({\n\t\t\t\t\t\tcolor: e.color ? e.color : 0xffffff,\n\t\t\t\t\t\topacity: e.opacity ? e.opacity : 0.2,\n\t\t\t\t\t\ttransparent: true,\n\t\t\t\t\t});\n\t\t\t\t\tlet geometry = new THREE.BufferGeometry();\n\t\t\t\t\tlet points = [];\n\t\t\t\t\tfaces.forEach((f) => {\n\t\t\t\t\t\tpoints.push(verts[f.a], verts[f.b], verts[f.c]);\n\t\t\t\t\t});\n\t\t\t\t\tgeometry.setFromPoints(points);\n\t\t\t\t\tgeometry.computeVertexNormals();\n\t\t\t\t\tlet me = new THREE.Mesh(geometry, material);\n\t\t\t\t\tObjArr.push({\n\t\t\t\t\t\tobj: e,\n\t\t\t\t\t\tmesh: me,\n\t\t\t\t\t\tglobalId: e.globalId,\n\t\t\t\t\t\ttype: e.type,\n\t\t\t\t\t\tselected: false,\n\t\t\t\t\t\tcolor: e.color ? e.color : 0xffffff,\n\t\t\t\t\t\topacity: e.opacity ? e.opacity : 0.2,\n\t\t\t\t\t\thidden: false,\n\t\t\t\t\t});\n\t\t\t\t});\n\t\t\t\tObjArr.forEach((obj) => {\n\t\t\t\t\tif (obj.hidden === false) scene3d.add(obj.mesh);\n\t\t\t\t});\n\t\t\t};\n\t\t\tconst init = () => {\n\t\t\t\tscene3d = new THREE.Scene();\n\t\t\t\tscene3d.background = new THREE.Color(0xffffff);\n\t\t\t\tcamera3d = new THREE.PerspectiveCamera(\n\t\t\t\t\t45,\n\t\t\t\t\twindow.innerWidth / window.innerHeight,\n\t\t\t\t\t0.1,\n\t\t\t\t\t10000\n\t\t\t\t);\n\t\t\t\tcamera3d.up = new THREE.Vector3(0, 0, 1);\n\t\t\t\tcamera3d.position.set(20, 20, 20);\n\t\t\t\trenderer3d = new THREE.WebGLRenderer();\n\t\t\t\trenderer3d.setSize(window.innerWidth, window.innerHeight);\n\t\t\t\tdocument.getElementById('div3d').appendChild(renderer3d.domElement);\n\t\t\t\traycaster = new THREE.Raycaster();\n\t\t\t\tcontrols = new THREE.OrbitControls(camera3d, renderer3d.domElement);\n\t\t\t\tcontrols.addEventListener('change', update);\n\t\t\t\tscene3d.add(new THREE.AxesHelper(10));\n\t\t\t\tscene3d.add(new THREE.AmbientLight(0xffffff));\n\t\t\t\tdocument.addEventListener('mousedown', onMouseDown, false);\n\t\t\t\trender();\n\t\t\t};\n\t\t\tdocument.addEventListener(\n\t\t\t\t'keyup',\n\t\t\t\t(e) => {\n\t\t\t\t\te.keyCode === 91 ? (select = false) : (select = true);\n\t\t\t\t},\n\t\t\t\tfalse\n\t\t\t);\n\t\t\tdocument.addEventListener('keydown', ({ key }) => {\n\t\t\t\tif (key === 'Escape') {\n\t\t\t\t\tObjArr.forEach((obj) => (obj.selected = false));\n\t\t\t\t}\n\t\t\t});\n\t\t\tconst onMouseDown = (e) => {\n\t\t\t\tdocument.addEventListener(\n\t\t\t\t\t'keydown',\n\t\t\t\t\t() => {\n\t\t\t\t\t\tselect = true;\n\t\t\t\t\t},\n\t\t\t\t\tfalse\n\t\t\t\t);\n\t\t\t\tmouse.x = (e.clientX / window.innerWidth) * 2 - 1;\n\t\t\t\tmouse.y = -(e.clientY / window.innerHeight) * 2 + 1;\n\t\t\t\traycaster.setFromCamera(mouse, camera3d);\n\t\t\t\tlet intersects = raycaster.intersectObjects(scene3d.children);\n\t\t\t\tif (intersects.length > 0 && intersects[0].object.type === 'Mesh') {\n\t\t\t\t\tconst me = ObjArr.filter(\n\t\t\t\t\t\t(obj) => obj.mesh.uuid === intersects[0].object.uuid\n\t\t\t\t\t)[0];\n\t\t\t\t\tif (select) me.selected = !me.selected;\n\t\t\t\t\telse\n\t\t\t\t\t\tObjArr.filter((obj) =>\n\t\t\t\t\t\t\tobj.mesh.uuid === intersects[0].object.uuid\n\t\t\t\t\t\t\t\t? (obj.selected = true)\n\t\t\t\t\t\t\t\t: (obj.selected = false)\n\t\t\t\t\t\t);\n\t\t\t\t} else ObjArr.forEach((obj) => (obj.selected = false));\n\t\t\t\tlet selArr = [];\n\t\t\t\tObjArr.forEach((e) => {\n\t\t\t\t\tif (e.selected) {\n\t\t\t\t\t\tselArr.push(e.globalId);\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t\tlet sel = { ids: selArr };\n\t\t\t\tupdateDashboard(selArr);\n\t\t\t\tif (socket1Opened) socket1.send(JSON.stringify(sel));\n\t\t\t};\n\t\t\tfunction update() {\n\t\t\t\tcamera3d.aspect = window.innerWidth / window.innerHeight;\n\t\t\t\trenderer3d.setSize(window.innerWidth, window.innerHeight);\n\t\t\t\tcamera3d.updateProjectionMatrix();\n\t\t\t}\n\t\t\t//\n\t\t\tfunction getTr(obj) {\n\t\t\t\tlet R = [\n\t\t\t\t\t'type',\n\t\t\t\t\t'objectType',\n\t\t\t\t\t'name',\n\t\t\t\t\t'length',\n\t\t\t\t\t'area',\n\t\t\t\t\t'volume',\n\t\t\t\t\t'unconnected height',\n\t\t\t\t\t'base constraint',\n\t\t\t\t\t'base is attached',\n\t\t\t\t];\n\t\t\t\tlet keys = Object.keys(obj);\n\t\t\t\tconsole.log(keys);\n\n\t\t\t\tlet trArr = [];\n\n\t\t\t\tfor (var key in obj) {\n\t\t\t\t\tR.forEach((r) => {\n\t\t\t\t\t\tif (key.toLowerCase() === r) {\n\t\t\t\t\t\t\tlet val = obj[key];\n\t\t\t\t\t\t\t// console.log(key, val);\n\t\t\t\t\t\t\tlet tr = document.createElement('tr');\n\t\t\t\t\t\t\t//\n\t\t\t\t\t\t\tlet pKey = document.createElement('p');\n\t\t\t\t\t\t\tpKey.innerHTML = key;\n\t\t\t\t\t\t\tlet tdKey = document.createElement('td');\n\t\t\t\t\t\t\ttdKey.appendChild(pKey);\n\t\t\t\t\t\t\t//\n\t\t\t\t\t\t\tlet pVal = document.createElement('p');\n\t\t\t\t\t\t\tpVal.innerHTML = val.toString();\n\t\t\t\t\t\t\tlet tdVal = document.createElement('td');\n\t\t\t\t\t\t\ttdVal.appendChild(pVal);\n\t\t\t\t\t\t\ttr.appendChild(tdKey);\n\t\t\t\t\t\t\ttr.appendChild(tdVal);\n\t\t\t\t\t\t\ttrArr.push(tr);\n\t\t\t\t\t\t}\n\t\t\t\t\t});\n\t\t\t\t}\n\t\t\t\treturn trArr;\n\t\t\t}\n\n\t\t\tfunction updateDashboard(selArr) {\n\t\t\t\tlet T = document.getElementById('table-ui');\n\t\t\t\twhile (T.children.length > 0) {\n\t\t\t\t\tT.removeChild(T.firstChild);\n\t\t\t\t}\n\t\t\t\tselArr.forEach((sel) => {\n\t\t\t\t\tconsole.log('dashboard: ', sel);\n\t\t\t\t\tlet tr = document.createElement('tr');\n\t\t\t\t\t//\n\t\t\t\t\tlet pKey = document.createElement('p');\n\t\t\t\t\tpKey.innerHTML = 'id';\n\t\t\t\t\tlet tdKey = document.createElement('th');\n\t\t\t\t\ttdKey.appendChild(pKey);\n\t\t\t\t\t//\n\t\t\t\t\tlet pVal = document.createElement('p');\n\t\t\t\t\tpVal.innerHTML = sel.toString();\n\t\t\t\t\tlet tdVal = document.createElement('th');\n\t\t\t\t\ttdVal.appendChild(pVal);\n\t\t\t\t\ttr.appendChild(tdKey);\n\t\t\t\t\ttr.appendChild(tdVal);\n\t\t\t\t\tT.appendChild(tr);\n\n\t\t\t\t\tfor (let i = 0; i < ObjArr.length; i++) {\n\t\t\t\t\t\tif (ObjArr[i].globalId.toString() === sel.toString()) {\n\t\t\t\t\t\t\tlet trArr = getTr(ObjArr[i].obj);\n\t\t\t\t\t\t\ttrArr.forEach((e) => {\n\t\t\t\t\t\t\t\tT.appendChild(e);\n\t\t\t\t\t\t\t});\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t\tdocument.getElementById('dashboard').appendChild(T);\n\t\t\t}\n\n\t\t\tfunction render() {\n\t\t\t\tupdate();\n\t\t\t\tlet m2 = new THREE.MeshPhongMaterial({\n\t\t\t\t\tcolor: 0xff0000,\n\t\t\t\t\topacity: 0.5,\n\t\t\t\t\ttransparent: true,\n\t\t\t\t});\n\t\t\t\tObjArr.forEach((obj) =>\n\t\t\t\t\tobj.selected\n\t\t\t\t\t\t? (obj.mesh.material = m2)\n\t\t\t\t\t\t: (obj.mesh.material = new THREE.MeshPhongMaterial({\n\t\t\t\t\t\t\t\tcolor: obj.color,\n\t\t\t\t\t\t\t\topacity: obj.opacity,\n\t\t\t\t\t\t\t\ttransparent: true,\n\t\t\t\t\t\t  }))\n\t\t\t\t);\n\t\t\t\trenderer3d.render(scene3d, camera3d);\n\t\t\t\trequestAnimationFrame(render);\n\t\t\t}\n\t\t</script>\n\t\t<script>\n\t\t\tvar scene3d, camera3d, renderer3d, controls3d, raycaster;\n\t\t\tvar meshArr = [];\n\t\t\tvar ObjArr = [];\n\t\t\tvar mouse = new THREE.Vector2();\n\t\t\tvar colorInpObj = [];\n\t\t\tvar select = false;\n\t\t\tvar A;\n\t\t\tvar B = [];\n\t\t\tinit();\n\t\t</script>\n\t</body>\n</html>\n","output":"str","x":270,"y":40,"wires":[["c10dfde1.5f9b9"]]},{"id":"7fcb3992.83ec28","type":"websocket out","z":"759c981c.980fc8","name":"websocket: send","server":"4dff1891.49df88","client":"","x":630,"y":600,"wires":[]},{"id":"98887195.c0216","type":"websocket in","z":"759c981c.980fc8","name":"websocket: listen","server":"90b92d52.24aac","client":"","x":120,"y":600,"wires":[["7fcb3992.83ec28"]]},{"id":"8c605ad6.ba6248","type":"inject","z":"759c981c.980fc8","name":"inject-IFCJSON snippet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[{\"globalId\":\"4c8d2570-3244-4e75-8237-a4372a40e82b\",\"color\":\"0xff00ff\",\"opacity\":1,\"hidden\":false}]}","payloadType":"json","x":360,"y":540,"wires":[["7fcb3992.83ec28"]]},{"id":"20c3f188.cfbc4e","type":"json","z":"759c981c.980fc8","name":"string to json","property":"payload","action":"","pretty":false,"x":710,"y":320,"wires":[["3bcbb1cd.e0095e","8216ac8d.d10c6"]]},{"id":"7c5aa468.0976fc","type":"http request","z":"759c981c.980fc8","name":"Get ifc-json file from Github","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/nirvik00/node-red/main/data/viewer/ifcJsonData.json","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":320,"wires":[["20c3f188.cfbc4e"]]},{"id":"6031aed6.0c755","type":"websocket-listener","path":"/ws/receiveMessage","wholemsg":"false"},{"id":"9ccee2bd.8fa7a","type":"websocket-listener","path":"/ws/sendMessage","wholemsg":"false"},{"id":"ccfcd4a6.36a9c8","type":"websocket-listener","path":"/ws/receiveMessage2","wholemsg":"false"},{"id":"c352f9f4.c2e3d8","type":"websocket-listener","path":"/ws/sendMessage2","wholemsg":"false"},{"id":"4dff1891.49df88","type":"websocket-listener","path":"/ws/sendMessage3","wholemsg":"false"},{"id":"90b92d52.24aac","type":"websocket-listener","path":"/ws/receiveMessage3","wholemsg":"false"}]