flows/xmlval.json
[{"id":"9da21f35.1f60f","type":"tab","label":"xml validation","disabled":false,"info":""},{"id":"9aa54fa3.fbe4f","type":"http request","z":"9da21f35.1f60f","name":"http: u2x","method":"POST","ret":"txt","paytoqs":"body","url":"http://127.0.0.1:6789/u2x/","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":360,"wires":[["767f32e3.7a446c"]]},{"id":"767f32e3.7a446c","type":"debug","z":"9da21f35.1f60f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":360,"wires":[]},{"id":"1f7585e8.3fa81a","type":"change","z":"9da21f35.1f60f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"schfilecontent","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["9aa54fa3.fbe4f"]]},{"id":"91b53df1.edc7a","type":"inject","z":"9da21f35.1f60f","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":140,"wires":[["eee93cc0.649de","c69e5b54.bb19e8"]]},{"id":"eee93cc0.649de","type":"file in","z":"9da21f35.1f60f","name":"read file sch","filename":"/Users/nirviksaha/PostDoc/fserver/data/sch/medium.sch","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":120,"wires":[["82378dfb.552f2"]]},{"id":"82378dfb.552f2","type":"change","z":"9da21f35.1f60f","name":"","rules":[{"t":"set","p":"schfilecontent[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[[]]},{"id":"c69e5b54.bb19e8","type":"file in","z":"9da21f35.1f60f","name":"read file xml","filename":"/Users/nirviksaha/PostDoc/fserver/data/sch/medium.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":160,"wires":[["4acb221d.7ae27c"]]},{"id":"4acb221d.7ae27c","type":"change","z":"9da21f35.1f60f","name":"","rules":[{"t":"set","p":"schfilecontent[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":160,"wires":[[]]},{"id":"63838de0.49e1c4","type":"inject","z":"9da21f35.1f60f","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":360,"wires":[["1f7585e8.3fa81a"]]}]